<div class="col s12 m7">
  <h4 class="header">Question</h4>
  <div class="card-large horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <%=@question['description']%>
      </div>
    </div>
  </div>
</div>
