<div class="col s12 m7">
  <h4 class="header">Answer for Question with ID: <%=@answer['qid']%></h4>
  <div class="card-large horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <%=@answer['description']%>
      </div>
    </div>
  </div>
</div>
